.mat-app-background {
    background-color: #13428B; /* Use your theme's primary color */
    
  }
  
  .app-title {
    font-size: 1.2em;
    color: white; /* Customize as needed */
    text-decoration: none; 
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  /* ... your existing styles */

.logo-container {
    margin-right: 32px; /* Add spacing as needed */
  }
  
  .logo {
    height: 30px; /* Adjust as needed */
    width: auto;  /* Maintain aspect ratio */
  }
