<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <app-alert-banner
      message="Enhanced Security for FCC CORES/Username starting March 29, 2024. Beginning March 29, 2024, 2-step authentication will be mandatory to login to the FCC’S Commission Registration System (CORES) and its associated FCC User Registration System."
      type="error">
    </app-alert-banner>

    <h1>Auction Application Portal</h1>
    <p>
      <strong>Use of this System is for FCC-Authorized Purposes Only</strong> <br><br>

      You are accessing a U.S. Government information system provided by the Federal Communications Commission for
      FCC-authorized users only. All communication occurring on this information system are subject to be monitored,
      recorded, and audited, therefore you have no reasonable expectation of privacy regarding any communications or
      data transmitted or stored on this information system.
      <br><br>Unauthorized or improper use of the information system or information stored on this information system is
      prohibited and subject to criminal, civil, and/or administrative penalties. Any data transmitted or stored on this
      information system may be disclosed to law enforcement or other Federal agencies or their contractors in the
      course of conducting an investigation or other forensic analysis.
      <br><br>
      USE OF THIS INFORMATION SYSTEM INDICATES CONSENT TO MONITORING AND RECORDING.
    </p>
    <button class="primary-btn">Login</button>
<div class="divider"></div>
    <p>
      Log in to the Auction Application Portal to manage access to auction applications for an FRN; start, edit, or
      submit a short-form application (FCC Form 175) to participate in an auction; or view past short-form applications.
      A CORES Username is required to access this portal and you must be granted auctions access for an FRN before you
      can start, edit, submit, or view a short-form application.
      <br><br>
      To register for an FCC username account, or associate a username account with an FRN, go to <app-external-link class="inline-link" text="CORES" link="/"></app-external-link>
    </p>
    <div class="wrapper"><app-external-link text="FCC Auctions" link="/"></app-external-link></div>
    <div class="wrapper"> <app-external-link text="Application Public Search" link="/"></app-external-link></div>
  </div>
</div>
<div class="footer-container">
  <div class="content">
    <app-footer></app-footer>
  </div>
</div>
<router-outlet></router-outlet>